.App {
  width: 400px;
  margin: 30px auto 0;
}

p {
  margin: 2px;
}

.meaning {
  margin: 10px 0;
}

.definition {
  margin: 4px 0;
}

strong {
  font-size: 14px;
}


.title {
  font-size: 28px;
}

.title strong {
  font-size: 28px;
}

h4 {
  margin: 10px 0 6px 0;
}

.synonyms, .antonyms {
  margin-bottom: 20px;
}